asgiref==3.2.10
beautifulsoup4==4.9.1
Django==3.0.7
django-appconf==1.0.5
django-bootstrap4==2.1.1
django-compressor==3.1
django-libsass==0.9
django-sass-processor==1.1
djangorestframework==3.11.0
libsass==0.21.0
Pillow==9.1.0
pytz==2020.1
rcssmin==1.1.0
rjsmin==1.2.0
six==1.16.0
soupsieve==2.0.1
sqlparse==0.3.1
tzdata==2022.1
